DSC00757.JPG
address_book.txt
grade.xlsx
output.xlsx
saved_page.html
somefile.html
interactive_map.html
shows.csv
logs

cifar-10-batches-py
dataset_CIFAR10
imgs
dataset
checkpoints
train_model_9.pth
train_logs
实验3和实验4 数据.xlsx
序号为偶数的数据.xlsx
序号为奇数的数据.xlsx